* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

.menu-nav {
    list-style: none;
    padding: 10px 15px;
}

a {
    text-decoration: none;
    color: black;
}

.top-nav-container .top-nav-left li {
    float: left;
}

.top-nav-container .top-nav-right li {
    float: right;
    padding: 15px;
}

.main-nav-container {
    display: block;
    width: 100%;
}

.main-nav-container ul {
    display: inline-block;
}

.main-nav-left li {
    float: left;
    padding: 20px;
}

.main-nav-right li {
    float: right;
}

.main-nav-right {
    float: right;
    padding-top: 20px;
}


/* .footer{
    margin-left: 20%;
} */

.flex {
    display: flex;
    flex-direction: row;
    margin-left: 60px;
    margin-right: 60px;
}

.flex_text {
    width: 250px;
}


/* footer dưới */

.inform {
    display: flex;
    flex-direction: row;
    margin-left: 60px;
    margin-right: 60px;
}

.PTTT {
    display: flex;
    flex-direction: row;
}

.PTTT2 {
    display: flex;
    flex-direction: row;
}

.connect {
    padding-left: 50px;
}

.icon {
    display: flex;
    flex-direction: row;
}

.icon1 {
    font-size: 35px;
    color: #35aff5;
}

.icon2 {
    padding-left: 20px;
    font-size: 35px;
    color: rgb(245, 122, 40);
}

.icon3 {
    padding-left: 20px;
    font-size: 35px;
    color: rgb(189, 55, 15);
}

.icon4 {
    padding-left: 20px;
    font-size: 35px;
    color: rgb(121, 204, 230);
}

.thanh_toan {
    padding-left: 50px;
}

.inform_text1 {
    padding-left: 50px;
}

.app {
    width: 110px;
    background-color: #35aff5;
}